<!DOCTYPE html>
<html lang="en" class="no-js">


<head>

    <meta charset="utf-8">
    <title> Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    &lt;!&ndash; CSS &ndash;&gt;
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/supersized.css">
    <link rel="stylesheet" href="./css/style.css">


</head>

<body>

<div class="page-container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div>
            <input type="text" name="id" class="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" class="password" placeholder="Password"/>
        </div>
        <button id="submit" type="submit">Sign in</button>
    </form>
    <div class="connect">
        <p>If we can only encounter each other rather than stay with each other,then I wish we had never
            encountered.</p>
        <p style="margin-top:20px;">如果只是遇见，不能停留，不如不遇见。</p>
    </div>
</div>
</body>


</html>

